<meta property="og:site_name" content="{{ site.title | strip_html | strip | strip_newlines | escape }}">

{%- assign __title = site.title -%}
{%- if page.og.title -%}
  {%- assign __title = page.og.title -%}
{%- elsif page.title -%}
  {%- assign __title = page.title -%}
{% endif %}
<meta property="og:title" content="{{ __title | strip_html | strip | strip_newlines | escape }}">
{% if page.title -%}
  <meta property="og:type" content="article">
{% else -%}
  <meta property="og:type" content="website">
{% endif -%}

{%- assign __descr = site.description -%}
{%- if page.og.description -%}
  {%- assign __descr = page.og.description -%}
{%- elsif page.description -%}
  {%- assign __descr = page.description -%}
{%- elsif page.excerpt -%}
  {%- assign __descr = page.excerpt -%}
{% endif -%}
<meta property="og:description" content="{{ __descr | strip_html | strip | escape }}">
{% if page.url -%}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
{%- endif -%}
{%- assign __image = site.image -%}
{% if page.og.image %}
  {%- assign __image = page.og.image -%}
{% elsif page.title %}
  {%- assign __image = page.cover -%}
{% endif %}
<meta property="og:image" content="{{ __image | absolute_url }}">

{% if page.date -%}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif -%}
{% if page.categories -%}
  {% for category in page.categories limit:1 -%}
  <meta content="{{ category }}" property="article:section">
  {% endfor -%}
{% endif -%}
{% if page.tags -%}
  {% for tag in page.tags -%}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor -%}
{% endif -%}